<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Select an item</h2>
    <form class="" action="/add_to_order" method="post">
      <input type="hidden" name="selection[]" value="custom pizza">
      <input type="hidden" name="selection[]" value="12.99">
      <ul>
        <% menu["custom"].each do |key, value| %>
        <li><%=key%>
          <ul>
            <% value.each do |ingred| %>
            <li> <input type="checkbox" name="selection[]" value="<%=ingred%>"> <%=ingred%></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
      <input type="submit" name="" value="Add this item">
    </form>
    <form class="" action="/custom_pizza" method="get">
      <input type="submit" value="Custom Pizza">
    </form>
  </body>
</html>
