<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Select an item</h2>
    <form action="/add_to_order" method="post">
      <input type="hidden" name="selection[]" value="custom pizza">
      <input type="hidden" name="selection[]" value="12.99">
      <!-- <input type="hidden" name="selection[]" value="1">  -->
      <!-- custom pizza quanity defaults to 1, may change later -->
      <ul>
        <% menu["custom"].each do |key, value| %>
        <li><%=key.capitalize%>
          <ul>
            <% value.each do |ingred| %>
            <li> <input type="checkbox" name="ingreds[]" value="<%=ingred%>"> <%=ingred.capitalize%></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
      <input type="submit" name="" value="Add this item">
    </form>
    <a href="/menu"><button>Return to menu</button></a>
  </body>
</html>
