<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="" method="post">
      <input type="text" name="address[]" placeholder="Address Line 1"><br>
      <input type="text" name="address[]" placeholder="Address Line 2"><br>
      <input type="text" name="address[]" placeholder="City">
      <input type="text" name="address[]" placeholder="State">
      <input type="text" name="address[]" placeholder="Zip Code">
    </form>
    <a href="/menu"><button>Return to menu</button></a>
  </body>
</html>
