<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/menu" method="get">
      <input type="submit" name="" value="Go to Menu">
      <br>This page is a placeholder.
    </form>
  </body>
</html>
