<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Placeholder Pizza!</h1>
    <form action="/menu" method="get">
      <input type="submit" value="Order">
    </form>
  </body>
</html>
