<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="/pizza">Pizza</a></li>
      <li><a href="/sides">Sides</a></li>
      <li><a href="/drinks">beverages</a></li>
      <li><a href="/deserts">deserts</a></li>
      <li><a href="/extras">Extras</a></li>
    </ul>
    <!-- <form class="" action="/menu_selection" method="post">
      <ul>
        <%# menu.each do |key, value| %>
        <li>
          <input type="radio" name="menu_selection" required value="<%#=key%>"> <%#=key.capitalize%>
        </li>
        <%#end%>
      </ul>
    </form>-->
    Current order:
    <% order.each do |food|%>
      <br>
      $<%= sprintf("%.02f",food[1])%> <%= food[0]%>
    <% end %>
  </body>
</html>
