<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="/pizza">Pizza</a></li>
      <li><a href="/sides">Sides</a></li>
      <li><a href="/drinks">beverages</a></li>
      <li><a href="/deserts">deserts</a></li>
      <li><a href="/extras">Extras</a></li>
    </ul>
  </body>
</html>
