<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% menu.each do |key, value| %>
        <!-- |key, value| prevents displaying whole menu hash -->
        <% if key != "size" && key != "custom" %>
          <li><a href="/sides?category=<%=key%>"><%=key.capitalize%></a></li>
        <% end %>
      <% end %>
    </ul>
    Current order:<br>
    <table>
    <% order.each do |food|%>
      <tr>
        <td>$<%= sprintf("%.02f",food[1])%></td>
        <td><%= food[0].capitalize%></td>
      </tr>
    <% end %>
  </table>
  </body>
</html>
