<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% menu.each do |key, value| %>
      <!-- |key, value| prevents displaying whole menu hash -->
        <li><a href="/sides?category=<%=key%>"><%=key.capitalize%></a></li>
      <% end %>
      <!-- <input type="submit" value="Choose category"> -->
    </ul>
    Current order:
    <% order.each do |food|%>
      <br>$<%= sprintf("%.02f",food[1])%> <%= food[0]%>
    <% end %>
  </body>
</html>
