<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Select an item</h2>
    <form class="" action="/add_to_order" method="post">
      <!-- Loop through hash to show items and their price.
      <%#Something like: key Price: value %>
      <%#Clicking brings up small area to confirm adding item to order with input[number] for quantity and a input[submit] add button and input[submit] cancel button. %>-->
      <%#menu.each do |name, values|%>
        <%#values.each do |value|%>
          <!-- do stuff -->
          <%#= value %>
        <%#end%>
      <%#end%>

      <ul>
        <% menu["Sides"].each do |key, value| %>
          <li>
            <input type="radio" name="selection" required value="<%=key%>, <%=value%>"> $<%= sprintf("%.02f",value)%> <%=key%>
          </li>
        <%end%>
      </ul>
      <input type="submit" name="" value="Add this item">
    </form>
  </body>
</html>
