td {
  vertical-align: top;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar{
  float: right;

}
.navbar li{
  text-transform: capitalize;
  display: inline;
}
.yield{
  /* background-color: cyan; */
  width: 70%;
  margin: auto;
}
