td {
  vertical-align: top;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar {
  float: right;

}
.navbar li{
  text-transform: capitalize;
  display: inline;
}
.yield{
  background-color: powderblue;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
